desktop.ini
*.pdb
Defs/desktop.ini
About/desktop.ini
Defs/RecipeDefs/desktop.ini
Defs/ResearchProjectDefs/desktop.ini
Defs/ThingDefs_Ships/desktop.ini
Textures/desktop.ini
Textures/Things/desktop.ini
Textures/Things/Ships/FR_Ships/desktop.ini
Textures/Things/ShipWeapons/desktop.ini
Textures/Things/ShipWeapons/desktop.ini
